@font-face {
	font-family: 'Calibri';
	src: url('../fonts/Calibri.eot');
	src: url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Calibri.woff') format('woff'),
		url('../fonts/Calibri.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
#new-accordian-menu {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
ul#new-accordian-menu {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#new-accordian-menu li a {
	display: block;
	padding: 0px 20px;
	float: left;
	width: 100%;
	text-decoration: none;
	color: #fff;
	font-family: 'Calibri';
	font-size: 16px;
	font-weight: normal;
}
#new-accordian-menu li a.act {
	
	background-repeat: no-repeat;
	background-position: 96% center;
}
#new-accordian-menu li a:hover {
	display: block;
	background: #231f20;
	text-decoration: none;
	color: #fff;
	font-family: 'Calibri';
	font-weight: normal;
}
#new-accordian-menu li:first-child a:hover {
	background: none;
}
#new-accordian-menu li a.act:hover {
	
	background-repeat: no-repeat;
	
}
#new-accordian-menu li a.active {
	display: block;
	background: #231f20;
	text-decoration: none;
	color: #fff;
	font-family: 'Calibri';
	font-size: 18px;
	font-weight: normal;
	background-image: url(../images/arrow-2.png) !Important;
	background-repeat: no-repeat;
	background-position: 100% center;
}
#new-accordian-menu li a.active-arrow-none {
	display: block;
	background: #231f20;
	text-decoration: none;
	color: #fff;
	font-family: 'Calibri';
	font-size: 18px;
	font-weight: normal;
	background-image: none !Important;
	background-repeat: no-repeat;
	background-position: right top 10px;
}
#new-accordian-menu li ul {
	display: none;
	margin: 0px;
	padding: 0px;
	list-style: none;
	max-height: 150px;
	overflow: auto;
}
#new-accordian-menu li ul {
	display: none;
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: left;
	width: 100%;
	overflow: hidden;
}
#new-accordian-menu li ul li a {
	padding: 10px 10px !important;
	width: 100%;
	color: #000;
	margin: 0px;
	background-image: url(../images/submenu-arrow.png);
	background-repeat: no-repeat;
	background-position: center left 50px;
	background-color: #f7f8f8;
	font-size: 14px;
}
#new-accordian-menu li ul li a:hover, #new-accordian-menu li ul li a.active2 {
	background: #e1e1e1;
	margin: 0px;
	background-image: url(../images/submenu-arrow.png);
	background-repeat: no-repeat;
	background-position: center left 50px;
	color: #000;
	font-size: 14px;
}
#new-accordian-menu li ul li:first-child a:hover {
	background: #e1e1e1;
	margin: 0px;
	background-image: url(../images/submenu-arrow.png);
	background-repeat: no-repeat;
	background-position: center left 50px;
	color: #000;
}
#new-accordian-menu li ul li a span {
	background: none;
	padding: 10px 0 10px 20px;
}

#new-accordian-menu li ul li a span img{ vertical-align:middle; padding-right:10px;}

#new-accordian-menu li a p{ padding:10px 0px; margin:0px; font-size:18px;}
