@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'Calibri';
	src: url('../fonts/Calibri.eot');
	src: url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Calibri.woff') format('woff'),
		url('../fonts/Calibri.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body{ margin:0px; padding:0px;font-family: 'Calibri';	font-weight: normal;font-style: normal; font-size:16px; }
header{ margin:0px; padding:10px 0px; background:#ffffff;}
.header-wrapper{ padding:0px 20px; }
.wrapper-1{ padding:0px 20px; }
.normal-font-1{font-weight: normal;font-style: normal; font-size:18px; color:#a2a2a2; padding-top:10px; }
.header-wrapper .tbl-1{ display:table; width:100%;}
.header-wrapper .row-1{ display:table-row; }
.header-wrapper .cell-1{ display:table-cell; vertical-align:middle; text-align:left;  width:auto}
.header-wrapper .cell-1:first-child{ width:125px;}

.header-nav-1 ul{ margin:0px; padding:0px;}
.header-nav-1 ul li{ list-style:none; float:left; display:inline-block; margin:0px 14px; }
.header-nav-1 ul li a{  text-decoration:none; font-size:18px; color:#292e34;}
.header-nav-1 ul li a:hover{ color:#ff0000} 

.header-nav-2 ul{ margin:0px; padding:0px; float:right;}
.header-nav-2 ul li{ list-style:none; float:left; display:inline-block; margin:0px 16px; }
.header-nav-2 ul li a{  text-decoration:none; font-size:18px; color:#292e34;line-height: 14px;}
.header-nav-2 ul li:last-child{ margin-right:0px;}
.header-icon-1{ text-align:center; padding:2px 0px;}
.header-nav-2 ul li a:hover{ color:#ff0000;}

.menu{ background:#242830; padding:1px 0px 1px 0px;}
.menu .tbl-1{ display:table; width:100%;}
.menu .row-1{ display:table-row; }
.menu .cell-1{ display:table-cell; vertical-align:middle; text-align:left;  width:auto}

.menu-nav-1 ul{ margin:0px 0px 0px 11px; padding:0px;}
.menu-nav-1 ul li{ list-style:none; float:left; display:inline-block; margin:0px 10px; }
.menu-nav-1 ul li:first-child{ margin-left:0px;}
.menu-nav-1 ul li a{  text-decoration:none; font-size:18px; color:#fff; padding:6px 4px;display:block;}

.menu-nav-2 ul{ margin:0px; padding:0px; float:right;}
.menu-nav-2 ul li{ list-style:none; float:left; display:inline-block; margin:0px 10px; }
.menu-nav-2 ul li:last-child{ margin-right:0px;}
.menu-nav-2 ul li:last-child a{padding:7px 0px 0px 0px;}
.menu-nav-2 ul li a{  text-decoration:none; font-size:18px; color:#fff; padding:6px 4px; display:block;}
.menu-nav-2 ul li a.select-1{  text-decoration:none; font-size:18px; color:#fff; background:#ff0000; }

.container-1 .tbl-1{ display:table; width:100%; background:#e6e8eb;}
.container-1 .row-1{ display:table-row; }
.container-1 .cell-1{ display:table-cell; vertical-align:top; text-align:left;  width:auto}
.container-1 .cell-1.menu-width-1{ width:220px; background-color:#fff; height:500px;}

.content-area-1{ margin:0px 10px;}

.bread-crumb-1{ padding:10px 0px;}
.bread-crumb-1 .tbl-1{ display:table; width:100%;}
.bread-crumb-1 .row-1{ display:table-row; }
.bread-crumb-1 .cell-1{ display:table-cell; vertical-align:top; text-align:left; width:auto}
.bread-crumb-1 a{ text-decoration:none; color:#2d323e}
.bread-crumb-1 a:hover{ text-decoration:underline;}

.bread-crumb-2{ padding:10px 10px 10px 20px; background:#e6e8eb}
.bread-crumb-2 .tbl-1{ display:table; width:100%;}
.bread-crumb-2 .row-1{ display:table-row; }
.bread-crumb-2 .cell-1{ display:table-cell; vertical-align:top; text-align:left; width:auto}
.bread-crumb-2 a{ text-decoration:none; color:#2d323e}
.bread-crumb-2 a:hover{ text-decoration:underline;}

.bg-sec1{ border:1px solid #d5d5d5; background-color:#fff; min-height:650px;}
.bg-sec2{ border:0px solid #d5d5d5; background-color:#fff;}

.tabs-1{ padding:10px 20px; border-bottom:1px solid #e4e4e4}
.tabs-1 .tbl-2{ display:table; width:100%;}
.tabs-1 .row-2{ display:table-row; }
.tabs-1 .cell-2{ display:table-cell; vertical-align:top; text-align:left; width:auto}

.menu-nav-3 ul{ margin:0px; padding:0px; float:right;}
.menu-nav-3 ul li{ list-style:none; float:left; display:inline-block; padding:0px 16px; }
.menu-nav-3 ul li:last-child{ margin-right:0px;}
.menu-nav-3 ul li a{  text-decoration:none; font-size:18px; color:#000;}
.menu-nav-3 ul li img{ vertical-align:baseline; margin-right:6px;}
.menu-nav-3 ul li:first-child{ border-right:1px solid #666;} 
.display-none{ display:none;}
.column-1{margin:10px 20px; overflow:hidden; }
.grid-3{ display:block; min-height:60px; width:100%;}
.grid-3 ul{ margin:0px; padding:0px; list-style:none; }
.grid-3 ul li{ float:left; margin:0px; padding:0px; margin-left:2%; height:15px; width:32%;  list-style:none; }
.grid-3 ul li:first-child{  margin-left:0px;   }
.main-nav-1 ul{ margin:0px; padding:0px;}
.main-nav-1 ul li{ list-style:none; float:none; display:block; margin:0px 0px; }
.main-nav-1 ul li a{  text-decoration:none; padding:10px 10px 10px 20px; display:block; text-align:left; font-size:18px; color:#c0c2c5;}
.main-nav-1 ul li a:hover{ background:#231f20;  color:#c0c2c5;}
.datepicker{  background-image: url(../images/datepicker.png); width: 100%; background-repeat: no-repeat; background-position: left center; outline: none; margin-top: 18px;  border: 0px; border-bottom: 1px solid #b9c1ca; padding: 8px 0px 6px 25px; font-size: 18px;color: #808080;}
.select-box1 {  float:left; box-sizing: border-box; overflow: hidden; position: relative; width:100%;}
.select-box1 select { width:100%; height: 35px;border: none; -webkit-appearance: none;background: transparent;  background-image:url(../images/select-1.png);  margin:0px; padding: 0px;  padding-right:20px; background-repeat:no-repeat; background-position:center right 0px;
margin-top: 20px;  border-bottom: 1px solid #b9c1ca;  padding: 8px 0px 6px 0px;  font-size: 18px;  color: #808080; }
.select-box1 select:focus { outline: none; }
@-moz-document url-prefix(){ 
.select-box1 select { width: 108%; min-width:115px; background-position: center right 10%; padding-top:6px; margin-top: 20px; }
}

.select-box2 {  float:left; box-sizing: border-box; overflow: hidden; position: relative; width:100%;}
.select-box2 select { width:100%; border: none; -webkit-appearance: none;background: transparent;  background-image:url(../images/select-1.png);  margin:0px; padding: 0px;  padding-right:20px; background-repeat:no-repeat; background-position:center right 0px;
margin-top: 0px;  border-bottom: 1px solid #b9c1ca;  padding: 8px 0px 6px 0px;  font-size: 16px;  color: #808080; }
.select-box2 select:focus { outline: none; }
@-moz-document url-prefix(){ 
.select-box2 select { width: 108%; min-width:115px; background-position: center right 10%; padding-top:6px; margin-top: 0px; }
}


.column-2 { margin: 10px 20px}
.button-gray-1{ padding:8px 15px; background-color:#545659; border-radius:2px; border:1px solid #6d7589; color:#fff; min-width:110px; font-weight:bold; font-size:15px;}
.button-gray-2{ padding:8px 15px; background-color:#e6e8eb; border-radius:2px; border:1px solid #d7d7d8; color:#6d7589; min-width:110px; font-weight:bold; font-size:15px;-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.41);
-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.41);
box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.41);}
.button-red-1{ padding:8px 15px; background-color:#ec1a23; border-radius:2px; border:1px solid #fbc9cb; color:#fff; min-width:110px; font-weight:bold; font-size:15px;}
.button-red-2{ padding:4px 8px; background-color:#ec1a23; border-radius:2px; border:1px solid #fbc9cb; color:#fff; min-width:60px; font-weight:bold; font-size:13px; }
.button-red-3{ padding:8px 15px; background-color:#ec1a23; border-radius:2px; border:1px solid #fbc9cb; color:#fff; width:100%; text-align:center;font-weight:bold; font-size:18px;}
.button-red-4{ padding:4px 8px; background-color:#ec1a23; border-radius:2px; border:1px solid #fbc9cb; color:#fff; width:60px; font-weight:bold; font-size:13px; }

.button-white-1{ padding:6px 12px; margin:0px 0px; background-color:#fff; border-radius:2px; border:1px solid #6d7589; color:#74797e; min-width:110px; font-weight:bold; font-size:15px;}
.margin-tl-1{margin-top:-5px;}
a.link-1{ color:#4c4c4c; text-decoration:none; border-bottom:1px solid #585858; font-weight: bold; font-size: 18px; }
a.link-1:hover{ color:#ed1c24}
.grid-5{ display:block; display:table; min-height:60px; width:100%;}
.grid-5 ul{ margin:0px; display:table-row;  padding:0px; list-style:none; }
.grid-5 ul li{ display:table-cell; margin:0px; padding:0px; padding-left:22px ; height:15px; width:18%;  list-style:none; vertical-align:bottom; }
.grid-5 ul li:first-child{  padding-left:0px;  }
.grid-5 ul li:last-child{ width:8%; text-align:right;}
.margin-top-1{ margin-top:18px;}
.margin-left-1{ margin-left:18px;}
.table-1{ border:1px solid #e8e8e8; font-size:18px; color:#757575}
.table-1 th{ border-bottom:1px solid #e8e8e8; color:#2d323e; padding:5px 0px 5px 10px; font-weight:normal}
.table-1 td{ padding:5px 0px 5px 10px}
h3{ font-size:20px; color:#2d323e; margin:15px 0px; padding:0px;}
.textarea-full-1{ border:1px solid #d2d2d2; width:100%; padding:15px; min-height:150px; }
.nav-setps ul{ margin:0px; padding:0px;}
.nav-setps ul li{ list-style:none; float:left; margin:0px 20px 0px 0px; }
.nav-setps ul li a{  text-decoration:none; padding:10px 10px 10px 0px; text-align:left; font-size:18px; color:#808080; text-decoration:none;}
.nav-setps ul li.active-1 a{text-decoration:underline; color:#000}
.nav-setps ul li span{ font-size:18px; margin-right:10px; text-align:left; color:#fff; background:#d3d6da; display:inline-block; width:28px; height:28px; text-align:center; vertical-align:middle; line-height:28px; border-radius:100px; }
.nav-setps ul li.active-1 span{ color:#fff; background:#545659;  }
.menu-width-1 h2{color: #000; font-family: 'Calibri'; font-size: 18px; font-weight: normal; margin:0px; padding:10px 20px; background:#e6e8eb;}
.pull-right{ float:right;}
.post-master-1{ padding:10px 10px; border-bottom:1px solid #dddddd;}
.post-master-1 .tbl-1{ display:table; width:100%; background:#fff; }
.post-master-1 .row-1{ display:table-row; }
.post-master-1 .cell-1{ display:table-cell; vertical-align:top; text-align:left; width:auto}
.post-master-1 ul{ margin:0px; padding:0px;}
.post-master-1 ul li{ margin:0px 10px; padding:0px; float:left; display:inline-block;}
.post-master-1 ul li a{ color:#2d323e; text-decoration:none;}
.post-master-1 ul li a.active{ color:#000; font-weight:bold}
.post-master-1 ul li img{ vertical-align:middle; margin-right:8px;}
.post-master-2{ padding:10px 10px; background:#eeeff1; border-bottom:1px solid #dddddd;}
.post-master-2 .tbl-1{ display:table; width:100%;  background:#eeeff1;}
.post-master-2 .row-1{ display:table-row; }
.post-master-2 .cell-1{ display:table-cell; vertical-align:top; text-align:left; width:auto}
.post-master-2 .cell-1:last-child{ width:25px; }
.post-master-2 ul{ margin:0px; padding:0px;}
.post-master-2 ul li{ margin:0px 18px; padding:0px; float:left; display:inline-block;}
.post-master-2 ul li a{ color:#00AFEF; text-decoration:none;}
.post-master-2 ul li a.active{ color:#000; font-weight:bold;}
.post-master-2 ul li img{ vertical-align:middle; margin-right:10px;}
.post-master-tbl-padding{ padding:10px 20px; text-align:center; }
.post-master-tbl-main{ padding:10px 0px; border-bottom:1px solid #ccc;     overflow: hidden; }
.post-master-tbl-main td{ padding:3px 0px;}
.bold-upper{ text-transform:uppercase; font-weight:bold}
.post-master-tbl-main span{ color:#9b9b9b ;font-size:14px;} 
.post-table-1 .c-1{ width: 13%;}
.post-table-1 .c-2{ width: 21%;}
.post-table-1 .c-3{ width: 15%;}
.post-table-1 .c-4{ width: 15%;}
.post-table-1 .c-5{ width: px; text-align:center; }

.post-table-1 .c-5 ul{ margin:0px; padding:0px; float:right;}
.post-table-1 .c-5 ul li{ margin:0px 10px; padding:0px; float:left; display:inline-block;  position:relative; border-right:1px solid #ccc;}
.post-table-1 .c-5 ul li:last-child{ border:0px;}
.post-table-1 .c-5 ul li a{ color:#1b6dab; text-decoration:none;}
.post-table-1 .c-5 ul li img{ vertical-align:middle; margin-right:10px;}
.post-table-1 .c-5-alert{position:absolute; z-index:999; background:none; width:15px; height:15px; left:50%; margin-left:-2px; top:-8px; border-radius:100px; line-height:15px; font-size:12px; color:#ff0000; text-align:center;}

.post-master-tbl-padding img{ margin-right:8px; vertical-align:middle;} 
.post-master-tbl-padding a{ text-decoration:none; color:#2d323e}
.padding-1{ padding-left:120px;}
.details-link-1{ padding-right:15px;}
.details-link-2{ padding-right:0px;}

.uom{ position:absolute; top:24px; padding:6px 10px; right:0px; font-size:14px !important;; color:#9d9d9d; background:#e6e8eb;}
.relative-ps{ position:relative}
.text-right{ text-align:right !important;}
.post-get-quote{ border:1px solid #ec1a23; padding:6px 10px; display:inline-block; color:#454952; font-size:14px; font-weight:bold; float:right; background:#fff; border-radius:5px;}
.text-fileld{ width:100%; border:0px; outline:none; padding:6px 2px; border-bottom:1px solid #ccc;}
.text-fileld-2{ width:100%; border:0px; outline:none; padding:6px 2px; border:1px solid #ccc;}
.distance-text{font-size:18px; vertical-align:bottom; padding-bottom:10px; color:#3e3e3e;}
.width-20{ width:20px;}

.buyer-search-5-table td{   padding:5px 15px;}
.buyer-search-5-table th{ color:#20b7ef; font-weight:normal; padding:5px 15px;}

.buyer-search-5-table input[type=checkbox].css-checkbox + label.checkbox_label, input[type=checkbox].css-checkbox + label.checkbox_label.clr{ font-size:14px; margin-bottom:15px;}
.modify-button{border:1px solid #ccc; padding:5px 10px !important; margin-top:-5px !important;}

.post-table-2 .c-1{ width: ;}
.post-table-2 .c-2{ width: 17%;}
.post-table-2 .c-3{ width: 17%;}
.post-table-2 .c-4{ width: 13%;}
.post-table-2 .c-5{ width: 13%;}
.post-table-2 .c-6{ width: 12%;}
.post-table-2 .c-7{ width: 110px; text-align:right;}

.seller-table-1 td{ text-align:left}
.seller-table-1 .c-1{ width: 14%;}
.seller-table-1 .c-2{ width: 14%;}
.seller-table-1 .c-3{ width: 14%;}
.seller-table-1 .c-4{ width: 14%;}
.seller-table-1 .c-5{ width: 13%;}
.seller-table-1 .c-6{ }
.seller-table-1 .c-7{ width: 110px; text-align:right;}

.seller-table-2{ margin-top:15px; font-size:14px; text-align:left}
.seller-table-2 .c-1{ width: 14%;}
.seller-table-2 .c-2{ width: 14%;}
.seller-table-2 .c-3{ width: 14%;}
.seller-table-2 .c-4{ width: 14%;}
.seller-table-2 .c-5{ width: 13%;}
.seller-table-2 .c-6{ }
.seller-table-2 .c-7{ width: px; text-align:left;}

.seller-tbl-td td{ padding-right:15px; padding-top:15px;}

.post-table-2a{ text-align:left;}
.post-table-2a .c-1{ width: ;}
.post-table-2a .c-2{ width: 18%;}
.post-table-2a .c-3{ width: 18%;}
.post-table-2a .c-4{ width: 18%;}
.post-table-2a .c-5{ width: 13%;}
.post-table-2a .c-6{ width: 12%;}
.post-table-2a .c-7{ width: 110px; text-align:right;}

.post-table-2b .c-1{ text-align:left;}
.post-table-2b .c-2{ width: 17%;}
.post-table-2b .c-3{ width: 17%;}
.post-table-2b .c-4{ width: 17%;}
.post-table-2b .c-5{ width: 17%;}
.post-table-2b .c-6{ width: 17%;}
.post-table-2b .c-7{ width: 110px; text-align:right;}

.post-table-2c td{ text-align:left;}
.post-table-2c .c-1{  width: 25%;text-align:left;}
.post-table-2c .c-2{ width: 25%;}
.post-table-2c .c-3{  width: 25%;}
.post-table-2c .c-4{ text-align:right;}
.post-table-2c td:last-child{ text-align:right;}

.seller-table-2c{ margin-top:15px; font-size:14px; text-align:left}
.seller-table-2c td{ padding-left:10px; vertical-align:bottom}
.seller-table-2c td:first-child{ padding-left:0px;}
.seller-table-2c .c-1{ width: 10%;}
.seller-table-2c .c-2{ width: 10%;}
.seller-table-2c .c-3{ width: 10%;}
.seller-table-2c .c-4{ width: 10%;}
.seller-table-2c .c-5{ width: 10%;}
.seller-table-2c .c-6{ width: 10%;}
.seller-table-2c .c-7{ width: 10%;}
.seller-table-2c .c-8{ width: 10%;}
.seller-table-2c .c-9{ width: 10%;}
.seller-table-2c .c-10{text-align:right;}

.post-table-3{ margin-top:15px; font-size:14px;}
.post-table-3 .c-1{ width: 15%;}
.post-table-3 .c-2{ width: 12%;}
.post-table-3 .c-3{ width: 12%;}
.post-table-3 .c-4{ width: 12%;}
.post-table-3 .c-5{ width: 17%;}
.post-table-3 .c-6{ width: 17%;}
.post-table-3 .c-7{ width: px; text-align:center;}
.alert-2{position:absolute; z-index:999; background:#ff0000; width:20px; height:20px; left:15px; top:-10px; border-radius:100px; line-height:20px; font-size:14px; color:#fff; text-align:center;}
.alert-2a{position:absolute; z-index:999; background:none; width:20px; height:20px; left:50%; top:-14px; border-radius:100px; line-height:20px; font-size:14px; color:#ff0000; text-align:center;  margin-left:2px;}

.alert-3{position:absolute; z-index:999; background:none; width:14px; height:14px; left:10px; top:-7px; border-radius:100px; line-height:14px; font-size:12px; color:#ff0000; text-align:center;
/*position: absolute;
    z-index: 999;
    background: none;
    width: 14px;
    height: 14px;
    right: 1px;
    top: -9px;
    border-radius: 100px;
    line-height: 14px;
    font-size: 12px;
    color: #f00;
    text-align: center;*/
}

.alert-4{position:absolute; z-index:999; background:none; width:14px; height:14px; left:10px; top:-10px; border-radius:100px; line-height:14px; font-size:12px; color:#ff0000; text-align:center;}

.post-table-3a{ margin-top:15px; font-size:14px; text-align:left;}
.post-table-3a .c-1{ width: 17%;}
.post-table-3a .c-2{ width: 14%;}
.post-table-3a .c-3{ width: 14%;}
.post-table-3a .c-4{ width: 14%;}
.post-table-3a .c-5{ width: 14%;}
.post-table-3a .c-6{ width: 14%;}
.post-table-3a .c-7{}

.post-table-3b tr:first-child td{ font-weight:bold}
.post-table-3b{ margin-top:0px; font-size:14px; text-align:left;}
.post-table-3b .c-1{ width: 12%;}
.post-table-3b .c-2{ width: 10%;}
.post-table-3b .c-3{ width: 10%;}
.post-table-3b .c-4{ width: 10%;}
.post-table-3b .c-5{ width: 10%;}
.post-table-3b .c-6{ width: 10%;}
.post-table-3b .c-7{ width: 10%;}
.post-table-3b .c-8{ width: 10%;}
.post-table-3b .c-9{ width: 10%;}
.post-table-3b .c-7{}

.tabs-2{ padding:10px 20px; border-bottom:1px solid #e4e4e4}
.tabs-2 .tbl-3{ display:table; width:100%;}
.tabs-2 .row-3{ display:table-row; }
.tabs-2 .cell-3{ display:table-cell; vertical-align:top; text-align:left; width:auto}

.normal-ul ul{ margin:0px; padding:0px;}
.normal-ul ul li{ margin:0px 10px; padding:0px; float:left; display:inline-block;}
.normal-ul ul li a{ color:#2d323e; text-decoration:none;}
.normal-ul ul li img{ vertical-align:middle; margin-right:10px;}

a.normal-link{color:#2d323e; text-decoration:none;  font-size:14px;}
a.normal-link-line{color:#2d323e; text-decoration:underline;  font-size:14px;}
.normal-link{color:#2d323e; text-decoration:none; font-size:14px;}
.normal-link a{color:#2d323e; text-decoration:none;  font-size:14px;}
.normal-link-line{color:#2d323e; text-decoration:none;  font-size:14px;}
.normal-link-line a{color:#2d323e; text-decoration:underline  font-size:14px;;}
.under-line{ text-decoration:underline !important}


.post-table-4{ padding-bottom:15px;text-align:center;}
.post-table-4 tr:first-child td{ color:#000; font-weight:bold; font-size:14px;}
.post-table-4 span { color: #9b9b9b;  font-size: 14px;}

.normal-img-ul-1 ul{ margin:0px; padding:0px; float:right;}
.normal-img-ul-1 ul li{ margin:0px 10px; padding:0px; float:left; display:inline-block;  position:relative; border-right:1px solid #ccc;}
.normal-img-ul-1 ul li:last-child{ border:0px;}
.normal-img-ul-1 ul li a{ color:#1b6dab; text-decoration:none;}
.normal-img-ul-1 ul li a.active{ color:#000; font-weight:bold}
.normal-img-ul-1 ul li img{ vertical-align:middle; margin-right:10px;}
.normal-img-ul-1 .alert{position:absolute; z-index:999; background:#ff0000; width:15px; height:15px; left:-10px; top:-5px; border-radius:100px; line-height:15px; font-size:12px; color:#fff; text-align:center;}

.ui-widget.ui-widget-content { border: 1px solid #c5c5c5;border-bottom:0px !important;}

.buyer-master-messages-table tr:first-child td{ border-bottom:1px solid #ccc; font-weight:bold}
.buyer-master-messages-table tr td{ border-bottom:1px solid #ccc; padding:8px 0px; vertical-align:middle}
.text-center{ text-align:center;}

.button-anchor-tag-1 {font-size: 13px; display:inline-block;}
.button-anchor-tag-1 a{ padding: 4px 8px; background-color: #ec1a23; border-radius: 2px;border: 1px solid #fbc9cb; color: #fff;font-weight: bold; font-size: 13px; display:block;}
.buyer-offers-11{ margin-top:-12px; background:#ffffff; position:relative; width:100%; border-bottom:1px solid #ccc; display:none; overflow: hidden; padding-bottom:15px;}


.buyer-offers-11-content{  float:right; width:40%;}
.buyer-offers-11-content .tbl-4{ display:table; width:100%;}
.buyer-offers-11-content .row-4{ display:table-row; }
.buyer-offers-11-content .cell-4{ display:table-cell; vertical-align:bottom; text-align:left; width:auto; font-weight:normal;}
.cell-4 tr:first-child td{ font-weight:normal; font-size:16px;}
.cell-4 input[type="text"]:disabled{ background:#fff;}

.buyer-offers-11-content .cell-4:first-child{ border:1px solid rgba(0,0,0,0.34); padding:5px 10px;-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.34);-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.34);box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.34);}
.buyer-offers-11-content .cell-4:last-child{ width:70px;text-align:right; padding-left:25px; }
a.decline-1{ padding:6px 95px 0px 0px ; overflow:hidden; display:inline-block;}	

tr.border-none td{ border:0px !important;}
.border-none{ border:0px !important;}

.post-table-5{ margin-top:15px; font-size:16px; }
.post-table-5 .c-1{ width: 20%; text-align:left;}
.post-table-5 .c-2{ width: 20%;}
.post-table-5 .c-3{ width: 20%;}
.post-table-5 .c-4{ width: 20%;}
.post-table-5 .c-5{ }
.post-table-5 .c-6{}
.post-table-5 td:last-child{ text-align:right;}
 
.post-table-6{ margin-top:15px; font-size:16px; text-align:left;}
.post-table-6 .c-1{ width: 20%; text-align:left;}
.post-table-6 .c-2{ width: 20%;}
.post-table-6 .c-3{ width: 15%;}
.post-table-6 .c-4{ width: 15%;}
.post-table-6 .c-5{ width: ;}
.post-table-6 .c-6{ width: px; text-align:center;}

.post-table-7{ margin-top:15px; font-size:16px; }
.post-table-7 .c-1{ width: 15%; text-align:left;}
.post-table-7 .c-2{ width: 15%;}
.post-table-7 .c-3{ width: 15%;}
.post-table-7 .c-4{ width: 15%;}
.post-table-7 .c-5{width: 12%;}
.post-table-7 .c-6{width: 12%;}

.post-table-7 td:last-child{ text-align:right;}
.text-left{ text-align:left;}
h4{ margin:0px; padding:0px; font-size:18px;}

.normal-font-1 h1{ font-size:25px; margin:10px 0px; padding:0px; color:#2d323e;}
.normal-font-1 h2{ font-size:18px; margin:10px 0px; padding:0px; color:#2d323e;}
.normal-font-1 p{ font-size:16px; line-height:20px; margin:0px; padding:0px 0px 15px 0px; color:#5d5d5d;}
.list-1 ul{ margin:0px; padding:0px; list-style:none;; }
.list-1 ul li{  list-style:inside; font-size:16px; line-height:20px;  padding:0px 0px 6px 0px; color:#5d5d5d;}

.new-table-1{ margin-top:15px; font-size:16px; }
.new-table-1 tr td{  border-bottom:1px solid #ccc; padding:8px 0px; font-family:14px; font-weight:normal;}
.new-table-1 tr:last-child td{  border-bottom:0px solid #ccc; font-weight:bold;}
.new-table-1 tr:first-child td{  font-weight:bold;}

.new-table-2{ margin-top:15px; font-size:16px; }
.new-table-2 tr td{  padding:8px 0px; font-family:14px; font-weight:normal;}
.new-table-2 tr:last-child td{  border-bottom:0px solid #ccc; font-weight:bold;}
.new-table-2 tr:first-child td{  font-weight:bold;}

.new-table-2 tr.row-border td{  border-bottom:1px solid #ccc; }

.order-confirmation-heading{ padding:0px 0px;}
h2.order-confirmation-1{ font-size:18px; font-weight:bold; color:#231f20; margin:0px; padding:10px 0px; border-bottom:1px solid #ccc;}
h2.order-confirmation-1 span{ font-weight:normal; color:#2d323e;}
 
.close-2{ position:absolute; top:15px; right:15px; width:12px; height:12px;}
.ftl-order-master-1{}
.ftl-order-master-1{ font-size:14px;  color:#231f20; margin:0px; padding:10px 15px; border-bottom:1px solid #ccc;}
.ftl-order-master-1 h2{font-size:18px; font-weight:bold; color:#231f20; margin:0px;}
  
.ftl-order-master-1 .master-tbl-1{ display:table; width:100%;} 
.ftl-order-master-1 .master-row-1{ display:table-row; }
.ftl-order-master-1 .master-cell-1{ display:table-cell; vertical-align:top; text-align:left; width:auto}
 
.order-master-20-content{  float:right; width:53%; border-top: 1px solid #ccc; padding:10px 0px; color:#9e9e9e;}
.order-master-20-msgicon{ padding:5px 0px; text-align:right; position:absolute; right:0px; top:5px;}
 
 .post-table-8 .c-1{  width: 13%; text-align:left;}
.post-table-8 .c-2{ width: 13%;}
.post-table-8 .c-3{ width: 13%;}
.post-table-8 .c-4{ width: 13%;}
.post-table-8 .c-5{ width: 13%;}
.post-table-8 .c-6{ text-align:right; }
.post-table-8 .c-7{ width: 50px; text-align:right;}

.post-table-8a .c-1{  width: 13%; text-align:left;}
.post-table-8a .c-2{ width: 13%;}
.post-table-8a .c-3{ width: 13%;}
.post-table-8a .c-4{ width: 13%;}
.post-table-8a .c-5{ width: 15%;}
.post-table-8a .c-6{ text-align:left; padding-left:50px; }
.post-table-8a .c-7{  text-align:right;}

.post-table-8b .c-1{  width: 12%; text-align:left;}
.post-table-8b .c-2{ width: 12%;}
.post-table-8b .c-3{ width: 12%;}
.post-table-8b .c-4{ width: 12%;}
.post-table-8b .c-5{ width: 12%;}
.post-table-8b .c-6{  width: 12%;}
.post-table-8b .c-7{   width: 12%; }
.post-table-8b .c-8{    text-align:right;}

.border-bottom-1{ border-bottom:1px solid #ccc;}
.post-master-3{ overflow:hidden; padding-bottom:10px;}

.post-table-9{ padding-bottom:15px;text-align:center;}
.post-table-9 tr:first-child td{ color:#000; font-weight:bold; font-size:14px;}
.post-table-9 span { color: #9b9b9b;  font-size: 14px;}

.post-table-10{ margin-top:15px; font-size:16px; }
.post-table-10 .c-1{ width: 12%; text-align:left;}
.post-table-10 .c-2{ width: 12%;}
.post-table-10 .c-3{ width: 12%;}
.post-table-10 .c-4{ width: 12%;}
.post-table-10 .c-5{ width: 12%;}
.post-table-10 .c-6{width: 12%;}
.post-table-10 .c-7{width: 12%;}
.post-table-10 td:last-child{ text-align:right;}

.post-table-11{ margin-top:5px;margin-bottom:15px; font-size:16px; }
.post-table-11 .c-1{ width: 20%; text-align:left; padding-left:0px;}
.post-table-11 .c-2{ width: 20%; text-align:left;}
.post-table-11 .c-3{ width: 20%; text-align:left;}
.post-table-11 .c-4{ width: 20%; text-align:left;}

.post-table-11 td:last-child{ text-align:right; padding-right:0px;}
.post-table-11 td{ padding:0px 15px;}

.table-text-left{ padding-bottom:15px;text-align:left;}
.table-text-left tr:first-child td{ color:#000; font-weight:bold; font-size:14px;}
.table-text-left span { color: #9b9b9b;  font-size: 14px;}

.table-text-left-with-padding{ padding-bottom:0px;text-align:left;}
.table-text-left-with-padding tr:first-child td{ color:#000; font-size:14px;}
.table-text-left-with-padding tr td{ padding-left:10px;}
.table-text-left-with-padding tr td:first-child{ padding-left:0px;}

.table-text-left-with-padding span { color: #9b9b9b;  font-size: 14px;}

.gsa-table-main{ padding:10px 20px; border-bottom:1px solid #e4e4e4}
.gsa-table-main .gsa-table-1{ display:table; width:100%;}
.gsa-table-main .gsa-row-1{ display:table-row; }
.gsa-table-main .gsa-cell-1{ display:table-cell; vertical-align:top; text-align:left; width:45%; padding-right:5%;}

.order-offers-30-table { margin-top:6px;}
.order-offers-30-table tr:first-child td{ border-bottom:1px solid #ccc; font-weight:bold;}
.order-offers-30-table tr td{ padding:8px 20px 8px 0px;}

.order-offers-30-heading { padding:10px 0px;margin-top:10px; color:#2d323e;  }
.order-offers-30-heading  .oof-table-1{ display:table; width:100%;}
.order-offers-30-heading  .oof-row-1{ display:table-row; }
.order-offers-30-heading  .oof-cell-1{ display:table-cell; vertical-align:top; font-weight:bold;}
.order-offers-30-main a{ font-size:18px; text-decoration:underline;}
.order-offers-30-main a:hover{ color:#ff0000}


.billing-table-main{ padding:10px 20px; border-bottom:1px solid #e4e4e4}
.billing-table-main .billing-table-1{ display:table; width:100%;}
.billing-table-main .billing-row-1{ display:table-row; }
.billing-table-main .billing-cell-1{ display:table-cell; vertical-align:top; text-align:left; vertical-align:bottom; }
.billing-ul-1 ul{ list-style:none; margin:0px 0px 6px 0px; padding:0px; overflow:hidden;}
.billing-ul-1 ul li{ list-style:none; padding:0px; margin:0px; float:left; padding-right:10px;}

.billing-table-2 td{ padding:5px 0px;}
.billing-table-2 a{ text-decoration:underline; color:#2d323e}

.registration-main-1{ background:#fff; border:1px solid #c6c6c6; width:550px; margin:50px auto; padding:20px 30px;}
.registration-main-1 .sec-1{ width:49%; margin-left:2%; float:left;}
.registration-main-1 .sec-1:first-child{  margin-left:0%;}

.gray-bg-1{ background-color:#e6e8eb;     overflow: hidden; min-height:600px;}

.header-login-box{ border:1px solid #ccc; padding:0px 10px 10px 10px; max-width:400px; width:100%; float:right;}
.header-login-box .login-table-1{display:table; width:100%;}
.header-login-box .login-row-1{ display:table-row; }
.header-login-box .login-cell-1{display:table-cell; text-align:right; vertical-align:bottom; padding:8px 5px 0px 5px; }
.header-login-box .login-cell-1:first-child{text-align:left; }

.header-login-box a{ text-decoration:none; color:#a6a9ae; font-size:14px;}
.header-login-box a:hover{ color:#ff0000; text-decoration:underline;}

.login-text-fileld{ width:100%; border:0px; outline:none; padding:2px 2px; border-bottom:1px solid #ccc;}
.button-gray-3{ padding:6px 8px; background-color:#a0a0a0; border-radius:2px; border:0px solid #6d7589; color:#fff; min-width:80px; font-weight:bold; font-size:15px;}
.min-height-1{ height:40px;}
.registration-individual-row1{ padding:0px 0px 0px 0px;  width:100%; overflow:hidden;}
.registration-individual-row2{ padding:20px 0px 0px 0px;}
.registration-main-1 h1{ text-decoration:none; color:#292e34; font-size:36px; font-weight:normal; text-align:center; margin:0px; padding:0px;}
.registration-main-1 h1 span{ color:#ff0000; font-weight:bold;} 
.registration-main-1 h2{ text-decoration:none; color:#777d85; font-size:19px; font-weight:normal; text-align:center; margin:0px 0px 5px 0px; padding:0px;}
.registration-main-1 h3.red{ text-decoration:none; color:#ff0000; font-size:18px; font-weight:bold; margin:0px 0px 10px 0px; padding:0px;}
.registration-main-1 h3.black{ text-decoration:none; color:#000; font-size:18px; font-weight:bold; margin:0px 0px 10px 0px; padding:0px;}

a.link-red{ color:#ff0000; text-decoration:none;}

.ri-tbl .ri-table-1{display:table; width:100%; margin-top:15px;}
.ri-tbl .ri-row-1{ display:table-row; }
.ri-tbl .ri-cell-1{display:table-cell; text-align:left; vertical-align:bottom; padding:10px 5px 10px 5px; width:50%; }

.ri-table-2 td{ padding:0px 10px 10px 0px; color:#666; font-size:16px;}
.ri-table-3 td{ padding:0px 10px 10px 0px; color:#666; font-size:16px;}

.no-margin{ margin:0px !important;}
.registration-tabmenu{ overflow:hidden; margin:10px 0px; }
.registration-tabmenu ul{ margin:0px; padding:0px; }
.registration-tabmenu ul li{ float:left; background:#fff; list-style:none; margin-right:10px; }
.registration-tabmenu ul li a{ border:1px solid #ccc;padding:8px 10px; text-decoration:none;  display:block; color:#666 }
.registration-tabmenu ul li a.active{ background:#ff0000; color:#fff;}
.registration-tabmenu ul li a:hover{ background:#ff0000; color:#fff;}
.registration-content input[type=checkbox].css-checkbox + label.checkbox_label, input[type=checkbox].css-checkbox + label.checkbox_label.clr { color: #666; font-size:14px; }
.registration-content{ padding-top:10px;}
.registration-content h3{color:#474747; font-size:19px; font-weight:bold; margin:0px 10px 10px 0px; padding:0px;}
.registration-content h4{color:#646464; font-size:19px; font-weight:normal; margin:0px 10px 10px 0px; padding:0px;}
.registration-tabs-main{border-top:1px solid #ccc; padding:15px 0px; overflow:hidden;}
.registration-tabs-main-2{border-top:1px solid #ccc; padding:10px 0px; overflow:hidden;;}
.bank-detailes-1 td{ padding:10px 10px 0px 0px; }

.registration-tabs-main .ui-widget.ui-widget-content{ border: 0px solid #c5c5c5;}
.registration-tabs-main .ui-widget {font-size: auto;}
.registration-tabs-main .ui-state-active a,.registration-tabs-main .ui-state-active a:link,.registration-tabs-main .ui-state-active a:visited {  color: #fff;background:#ff0000;}
.registration-tabs-main .ui-tabs .ui-tabs-nav .ui-tabs-anchor { padding: 7px 10px;}
.registration-tabs-main .ui-tabs .ui-tabs-panel { padding: 0px; }

.buypayments-tabs-main .buy-table-1{display:table; width:100%; margin-top:15px;}
.buypayments-tabs-main .buy-row-1{ display:table-row; }
.buypayments-tabs-main .buy-cell-1{display:table-cell; text-align:left; vertical-align:top; padding:10px 20px;  border:1px solid #ccc; }
.buypayments-tabs-main .buy-cell-1:first-child{ width:250px; vertical-align:top; border:0px solid #ccc; padding:0px 20px;}

.buypayments-tabs-main{ width:90%; margin:0 auto;}
.buypayments-tabs-main .ui-widget.ui-widget-content{ border: 0px solid #c5c5c5;}
.buypayments-tabs-main .ui-widget {font-size: auto;}
.buypayments-tabs-main .ui-state-active a,.registration-tabs-main .ui-state-active a:link,.registration-tabs-main .ui-state-active a:visited {  color: #fff;background:#ff0000;}
.buypayments-tabs-main .ui-tabs .ui-tabs-nav .ui-tabs-anchor { padding: 7px 10px;}
.buypayments-tabs-main .ui-tabs .ui-tabs-panel { padding: 0px; }
.buypayments-tabs-main .ui-tabs .ui-tabs-nav li {  list-style: none;float: none; position: relative; top: 0;margin: 0px; border-bottom-width: 0;    padding: 0; white-space: nowrap;width:100%;}
.buypayments-tabs-main .ui-tabs .ui-tabs-nav .ui-tabs-anchor { float: none; padding: 10px 10px; text-decoration: none;margin-bottom:5px; outline: none;
	display: block;  border: 1px solid #ccc;}
.ask-me-2{ padding:10px 0px;; }
.status-of-delivery{ width:60%; height:10px; background:#d9d9d9; position:relative;}
.status-of-delivery-bar{height:100%; background:#00a651; position:relative;}
.map-sec-1{}
.map-sec-1 .map-table-1{display:table; width:100%; margin-top:15px;}
.map-sec-1 .map-row-1{ display:table-row; }
.map-sec-1 .map-cell-1{display:table-cell; text-align:left; vertical-align:top; padding:10px 25px 10px 5px; }
.map-sec-1 .map-cell-1:first-child{ width:60%; }
.map-sec-1 .map-cell-1 h2{ font-size:16px; margin:0px; padding:0px;}
.maps-1 ul{ margin:0px 0px 10px 0px; padding:0px; list-style:none; float:left;}
.maps-1 ul li{ margin:0px; padding:0px 15px 0px 0px; list-style:none; float:left;}
.maps-1 ul li a{ text-decoration:none;}
.maps-1 ul li a:hover{ text-decoration:underline;}
.maps-1 ul li a.active{ text-decoration:underline; font-weight:bold;}
.maps-1-c1{ padding:10px 0px; line-height:25px;}
.maps-1-c1 span{ padding:0px 0px; min-width:120px; display:inline-block; color:#000; font-size:16px;}
.seller-table-1a td{ text-align:left}
.seller-table-1a .c-1{ width: 10%;}
.seller-table-1a .c-2{ width: 10%;}
.seller-table-1a .c-3{ width: 10%;}
.seller-table-1a .c-4{ width: 10%;}
.seller-table-1a .c-5{ width: 10%;}
.seller-table-1a .c-6{ width: 10%;}
.seller-table-1a .c-7{ width: 10%;}
.seller-table-1a .c-8{width: 10%;}
.seller-table-1a .c-9{ text-align:right;}
.seller-table-1b td{ text-align:left}
.seller-table-1b .c-1{ width: 12%;}
.seller-table-1b .c-2{ width: 12%;}
.seller-table-1b .c-3{ width: 12%;}
.seller-table-1b .c-4{ width: 12%;}
.seller-table-1b .c-5{ width: 12%;}
.seller-table-1b .c-6{ width: 12%;}
.seller-table-1b .c-7{ width: 12%;}
.seller-table-1b .c-8{  text-align:right;}
.seller-table-1c td{ text-align:left}
.seller-table-1c .c-1{ width: 14%;}
.seller-table-1c .c-2{ width: 14%;}
.seller-table-1c .c-3{ width: 14%;}
.seller-table-1c .c-4{ width: 14%;}
.seller-table-1c .c-5{ width: 14%;}
.seller-table-1c .c-6{ width: 14%;}
.seller-table-1c .c-7{ text-align:right;}
.popup-container-1{ padding:25px 25px;}
.post-master22 td{ padding-right:15px;}
.post-master22-ul ul{margin:0px; padding:0px;}
.post-master22-ul ul li{margin:0px; padding:0px 30px 20px 0px; list-style-type:none; display:inline-block;}
.post-master22-ul input{margin-bottom:20px;} 
.post-master22_1 tr:first-child td{font-weight:bold;}
.post-master22_1 td{border-top:solid 1px #ccc; padding:8px 0px;}
.close-border{ position: absolute;    border: 1px solid #9e9e9e;   padding: 10px 10px;   right: 0px;   margin: 15px;   border-radius: 100px;   line-height: 10px;   background: #d2d2d2;   color: #fff;   font-size: 19px; cursor:pointer}
.post-master25 tr:first-child td{font-weight:bold;}
.post-master25 td{border-top:solid 1px #ccc; padding:8px 0px;}
.billing-sec-right {float: right; margin-top: 20px; width: 55%;}

input[type=checkbox]:checked, input[type=checkbox]:focus {outline: none !important;}
input[type=checkbox]+.lbl {	position: relative;	z-index: 11;display: inline-block;margin: 0;line-height: 30px;min-height: 14px;min-width: 14px;	font-weight: normal;}
/*--------Calendar Styles----------*/

#ui-datepicker-div {padding-left: 0 !important;padding-right: 0 !important;border-color: #e2e2e2 !important;z-index: 999999 !important;}
body.modal-open #ui-datepicker-div {z-index: 99999 !important;}
#ui-datepicker-div table td span, #ui-datepicker-div table td a {font-weight: 500 !important;text-align: center !important;}
#ui-datepicker-div table td, #ui-datepicker-div table td a, #ui-datepicker-div table td span {text-align: center !important;	color: #555555 !important;
	background-color: transparent !important;border-color: #ffffff !important;padding: 2px 3px !important;}
.ui-datepicker {padding: 0 !important;}
#ui-datepicker-div table td.ui-datepicker-today .ui-state-highlight {background-color: #ed3237 !important;color: #ffffff !important;border-color: #cc0000 !important;	border-radius: 0 !important;}
#ui-datepicker-div table td.ui-state-disabled, #ui-datepicker-div table td.ui-state-disabled .ui-state-default {opacity: 0.8 !important;	color: #999999 !important;}
#ui-datepicker-div table td .ui-state-default {	color: #777777 !important;	border-radius: 0 !important;}
#ui-datepicker-div table td[data-handler='selectDay'] .ui-state-default:hover {background-color: #ed3237 !important;color: #ffffff !important;	border-color: #cc0000 !important;}
#ui-datepicker-div .ui-widget-header {font-weight: 500 !important;padding: 5px 10px !important;	border: 0 !important;}
#ui-datepicker-div .checkbox_div {background: #f6f6f6 none repeat scroll 0 0;margin-bottom: 0;padding: 0 8px;	display: table;	width: 100%;}
#ui-datepicker-div input[type="checkbox"] + .lbl::before {margin-top: -2px !important;}
.clear-date, .clear-date-from, .clear-date-to {border: 1px solid #bababa;background-color: #dadada;float: right;font-size: 12px !important;	margin: 5px 0;
	padding: 3px 7px;}
.clear-date:hover, .clear-date-from:hover, .clear-date-to:hover {border: 1px solid #cc0000 !important;background-color: #ed3237 !important;color: #ffffff !important;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {right: 2px !important;top: 5px !important;}
.ui-datepicker .ui-datepicker-prev {left: 2px !important;}
.upload-browse-btn {position: absolute;right: 0;top: 0;}
.form-control.errorMessage {margin-top: 0 !important;}
.forceerror {display: block !important;}
.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {width: 195px;margin-left: -35px;margin-top: 5px !important;}
.clear-date-from, .clear-date-to{display:none;}
.tabmenu-sec-1 ul{ margin:0px; padding:0px; border:0px; background:none;}
.tabmenu-sec-1 ul li{ margin:0px !important; padding:0px 10px!important; border:0px !important;  background:none !important;;}
.tabmenu-sec-1 ul li a{ margin:0px !important; padding:0px!important; border:0px !important;  background:none !important; outline:none;;}
.tabmenu-sec-1 .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {  color: #fff !important;font-weight:bold;   text-decoration: none;outline:none;}

.report-person-icon .report-table-1{display:table; width:100%; padding:10px 0px 10px 0px; border-bottom:1px solid #ccc;}
.report-person-icon .report-row-1{ display:table-row; }
.report-person-icon .report-cell-1{display:table-cell; text-align:left; vertical-align:middle; font-size:18px; font-weight:bold; color:#2d323e;  }
.report-person-icon .report-cell-1:first-child img{ border:1px solid #ccc; padding:10px; border-radius:100px;}
.report-person-icon .report-cell-1:first-child{ width:65px;} 

.report-2-ul{ border-bottom:1px solid #ccc; display:inline-table; width:100%; }
.report-2-ul-1{ float:left; width:50%;}
.report-2-ul-1 ul{ margin:0px; padding:0px; list-style:none; }
.report-2-ul-1 ul li{ margin:0px; padding:0px 10px; list-style:none; float:left; }
.report-2-ul-1 ul li a{ margin:0px; padding:5px 0px; display:block; list-style:none; font-weight:bold; font-size:16px; color:#2d323e; text-decoration:none; }
.report-2-ul-1 ul li a.active{ border-bottom:2px solid #ff0000; margin-bottom:-2px;} 
.report-2-ul-1 ul li a:hover{ color:#ff0000;}
.report-2-ul-1 ul li:first-child{ padding-left:0px;} 

.report-2-ul-2{ float:right; width:50%;}
.report-2-ul-2 ul{ margin:0px; padding:0px; list-style:none;float:right; }
.report-2-ul-2 ul li{ margin:0px; padding:0px 10px; list-style:none; float:left; }
.report-2-ul-2 ul li a{ margin:0px; padding:5px 0px; display:block; list-style:none; font-size:14px; color:#2d323e; text-decoration:none; }
.report-2-ul-2 ul li a.active{ border-bottom:2px solid #ff0000; margin-bottom:-2px;} 
.report-2-ul-2 ul li a:hover{ color:#ff0000;}
.report-2-ul-2 ul li:first-child{ padding-left:0px;}
.report-4-table-1 td{ padding:0px 10px 10px 0px;;}
.report-4-table-1{ padding:20px 0px}

.report-4-table-2 tr td{ border:1px solid #ccc; padding:5px 10px; border-bottom:0px; border-left:0px;}
.report-4-table-2 tr td:last-child{ border:0px; width:25px; }
.report-4-table-2 tr td:first-child{ border-left:1px solid #ccc;}
.report-4-table-2 tr:last-child td{ border-bottom:1px solid #ccc;}
.report-4-table-2 tr td:last-child{ border-bottom:0px !important;}

.report-4-table-3 tr td{ border:0px solid #ccc; padding:5px 10px; border-bottom:0px; border-left:0px; text-align:center}
.report-4-table-3 tr:first-child td{ font-weight:bold;}

.report-4-table-4 tr td{ border:0px solid #ccc; padding:5px 10px; border-bottom:0px; border-left:0px; text-align:left}
.report-4-table-4 tr:first-child td{ font-weight:bold; border-bottom:1px solid #ccc;}
.report-4-table-4 tr td:last-child{ text-align:right;}

.report-4-table-5 tr td{ border:1px solid #ccc; padding:5px 10px; border-bottom:0px; border-left:0px; text-align:center;}
.report-4-table-5 tr td:last-child{ border:0px; width:25px; }
.report-4-table-5 tr td:first-child{ border-left:1px solid #ccc;}
.report-4-table-5 tr:last-child td{ border-bottom:1px solid #ccc;}
.report-4-table-5 tr td:last-child{ border-bottom:0px !important;}
ul.blue-color li a{ color:#0099df}
ul.blue-color li:first-child { padding-left:0px;}

.notification-user-main{ padding:16px; background: #e6e8eb;}

.notification-user-1 .notification-table-1{display:table; width:100%; padding:6px 0px }
.notification-user-1 .notification-row-1{ display:table-row; }
.notification-user-1 .notification-cell-1{display:table-cell; text-align:left; vertical-align:top;  }

.notification-border-1{ border:1px solid #ccc; background:#fff; width:250px; padding:10px 10px}
.notification-noborder-1{ border:0px solid #ccc; background:none; width:250px;}
.notification-width-1{ width:35px; text-align:center !important; vertical-align:bottom !important }

.notification-user-sec1 .notification-table-2{display:table; width:100%; background:#fff; border:0px solid #ccc; }
.notification-user-sec1 .notification-row-2{ display:table-row; }
.notification-user-sec1 .notification-cell-2{display:table-cell; text-align:left; vertical-align:top; font-size:18px; }
.notification-user-sec1 .notification-cell-2:first-child{ width:100px;}

.notification-user-bg{ width:96%; height:10px; background:#d9d9d9; position:relative;}
.notification-user-bar{height:100%; background:#ff0000; position:relative;}
.notification-person-icon img{ padding:10px; border-radius:100px;  border:1px solid #ccc; width:100%; height:auto;}

.notification-person-icon { width:80px;;}

.notification-user-1 .notification-table-3{display:table; width:100%;  }
.notification-user-1 .notification-row-3{ display:table-row; }
.notification-user-1 .notification-cell-3{display:table-cell; text-align:left; vertical-align:middle; border:1px solid #d9dadb; padding:5px 15px; width:50%; }

.notification-user-1 .notification-cell-3:first-child{ border-right:0px;}
.rating-stars img{ margin-right:5px;}

.notification-posts{ border-bottom:1px solid #ccc; padding:3px 0px; margin-bottom:10px; overflow:hidden; }
.notification-posts-text{ font-size:30px; float:left; width:50%;}
.notification-posts-text span{ font-size:16px;}

.notification-user-1-buttons{ display:table; width:100%; margin:10px 0px;  border:1px solid #ccc; background:#fff; margin-bottom:0px;}
.notification-user-1-buttons ul{ margin:0px; padding:0px; display:table-row}
.notification-user-1-buttons ul li{ margin:0px; padding:0px; width:33.33%;  border-right:1px solid #ccc; display:table-cell; text-align:center;}
.notification-user-1-buttons ul li:last-child{ border-right:0px;}
.notification-user-1-buttons ul li img{ vertical-align:middle; margin-right:10px;}
.notification-user-1-buttons ul li a{ padding:10px; display:block; text-decoration:none; color:#000; font-size:20px;}
.notification-user-1-buttons ul li a:hover{ text-decoration:underline;}



.notification-master-1{ padding:0px 0px; background:#e6e8eb;}
.notification-master-1 .tbl-1{ display:table; width:100%;  background:none; }
.notification-master-1 .row-1{ display:table-row; }
.notification-master-1 .cell-1{ display:table-cell; vertical-align:top; text-align:left; width:auto; background:none;}
.notification-master-1 ul{ margin:0px; padding:0px;}
.notification-master-1 ul li{ margin:0px 10px; padding:0px; float:left; display:inline-block;}
.notification-master-1 ul li:first-child{ margin-left:0px;}
.notification-master-1 ul li:last-child{ margin-right:0px;}
.notification-master-1 ul li a{ color:#2d323e; text-decoration:none;}
.notification-master-1 ul li a.active{ color:#000; font-weight:bold}
.notification-master-1 ul li img{ vertical-align:middle; margin-right:8px;}

.notification-content-main{ background:#fff; border:1px solid #ccc; margin-bottom:10px; overflow:hidden; padding:15px;}
.notification-content-main .notification-content-tbl{ display:table; width:100%;}
.notification-content-main .notification-content-row{display:table-row; width:100%;}
.notification-content-main .notification-content-cell{display:table-cell; font-size:16px;vertical-align:middle; padding:0px 10px;}

.notification-content-main .notification-content-cell:first-child{ width:100px; }
.notification-content-main .notification-content-cell a{font-size:16px; text-decoration:none; color:#2d323e; }
.border-div{ padding:6px 0px; overflow:hidden; border-bottom:1px solid #ccc;}
.padding-div-1{ padding:10px 0px;;}

.nc-1{ display:table; width:100%;  background:none; }
.nc-1 .nc-r1{ display:table-row; }
.nc-1 .nc-c1{ display:table-cell; vertical-align:top; text-align:left; width:auto; background:none;}
.nc-1 .nc-c1:last-child {
    padding-right: 0px;
    text-align: right;
    width: 200px;
}
.nc-table-1{ width:100%; padding:20px 0px 0px 0px; overflow:hidden; }
.nc-cell-1{ width:50%; float:left; text-align:left;}
.fl-left{ float:left !important}

.normal-img-ul-2 ul{ margin:0px; padding:0px; float:right;}
.normal-img-ul-2 ul li{ margin:0px 0px; padding:0px 10px; float:left; display:inline-block;  position:relative; border-right:1px solid #ccc;}
.normal-img-ul-2 ul li:last-child{ border:0px;  padding-right:0px;}
.normal-img-ul-2 ul li:first-child{ border:0px;  padding-left:0px;}
.normal-img-ul-2 ul li a{ color:#1b6dab; text-decoration:none;}
.normal-img-ul-2 ul li a.active{ color:#000; font-weight:bold}
.normal-img-ul-2 ul li img{ vertical-align:middle; margin-right:0px;}
.normal-img-ul-2 .alert{position:absolute; z-index:999; background:#ff0000; width:15px; height:15px; left:-10px; top:-5px; border-radius:100px; line-height:15px; font-size:12px; color:#fff; text-align:center;}




/*
.form-control {
	border-radius: 0;
	width: 100%;
	box-shadow: none !important;
	outline: none !important;
	height: 38px;
	border-width: 1px 1px 1px 0;
	border-color: #e2e2e2 !important;
	text-indent: 0;
	padding-left: 0;
	font-size: 13px !important;
	font-family: 'Lato', sans-serif !important;
}
.form-control1 {
	border-width: 1px;
	padding-left: 6px;
	font-family: 'Lato', sans-serif !important;
}

.input-append, .input-prepend {
	display: table;
	font-size: 0;
	vertical-align: middle;
	width: 100%;
}
.input-append .add-on, .input-prepend .add-on {
	background-color: #ffffff;
	border: solid #e2e2e2;
	border-width: 1px 0 1px 1px;
	display: table-cell;
	font-size: 13px;
	font-weight: normal;
	height: 20px;
	line-height: 20px;
	min-width: 16px;
	padding: 4px 5px;
	text-align: center;
	vertical-align: middle;
	width: 35px;
}*/





